

<section class="vh-100 d-flex align-items-center justify-content-center px-2">
    <div>
      
      <form action="/login" method="POST" 
      class="mb-4 border shadow form-padding">
        <h1 class="d-block text-center fs-4 pb-5">Enter Login Details</h1>
        <div class="mb-4">
          <label class="mb-3" for="username">
            </label>
          <input name="username" class="w-100 shadow border rounded py-2 px-3" 
          id="username" type="text" placeholder="Enter User Name" autocomplete="off">
        </div>
  
        <div class="mb-4">
          <label class="mb-3" for="password">
            </label>
          <input name="password" class="w-100 shadow border rounded py-2 px-3" 
          id="password" type="text" placeholder="Enter Password" autocomplete="off">
        </div>
  
        <button class="btn btn-primary rounded-pill text-center py-2 px-4" type="submit">
          Login</button>
        
      </form>
    </div>
  </section>